html {
  scroll-behavior: smooth;
}

:root {
  font-family: 'DM Sans', Arial, sans-serif;
  color: #f5f3ff;
  background: #061126;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}
